//-------------颜色--------------
$primary-color: #3B73F0; //全局主色
$link-color: #1890ff; //链接色
$success-color: #22bf87; //成功色
$warning-color: #ffb700; //警告色
$error-color: #F55151; //错误色
$like-color: #F67770;
//--------中性色-----------
$gray-1: #202020;
$gray-2: #5B5B5B;
$gray-3: #949494;
$gray-9: #F6F6F6;
$gray-10: #ffffff;
//---------动画------------
$tr: all 0.3s;
//---------字体------------
$size-12: 12px;
$size-14: 14px;
$size-16: 16px;
$size-20: 20px;

//---------间距------------
$pd-8: 8px;
$pd-12: 12px;
$pd-16: 16px;
$pd-20: 20px;

//---------屏幕宽度------------
$screen: 1600px;